@import './assets/normalize.css';

.App {
  margin: 0 auto;
  min-width: 1280px;
  font-family: Helvetica Neue For Number, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
    Helvetica Neue, Helvetica, Arial, sans-serif;
}

.page-footer {
  position: relative;
  height: 240px;
  background: #212227;

  &__content {
    position: absolute;
    top: 100px;
    right: 10px;
  }

  &__email {
    margin: 0;
    color: #fff;
  }
}

.divider {
  margin: 5px auto 50px;
  width: 1280px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #252323;
}
